[Script]
# 会员部分
# http-request ^https:\/\/api\.hechuangxinxi\.xyz\/api\/v1\/movies\/\w+\/play\? url script-response-body https://raw.githubusercontent.com/Lonense/lazy_rules/refs/heads/main/Scripts/break/javdb.js

# 广告部分
^https:\/\/api\.hechuangxinxi\.xyz\/api\/(v1\/(ads|startup|users)|v4\/movies\/\w+) url script-response-body https://raw.githubusercontent.com/Lonense/lazy_rules/refs/heads/main/Scripts/myBlockAds.js

# MITM
hostname = api.hechuangxinxi.xyz
